{% extends 'base.html'%}
{% load static %}

{% block content%}
{% comment %} <div class="mar-100 payment">
    <div class="left">
        <p>Please note you are being redirected to an external website to complete payment.</p>
        <hr>
    </div>
    <div class="right">
        <p>You will be redirected to Paypal our payment client, please come again!</p>
        {{ paypal.render }}
        <hr>
    </div>
</div> {% endcomment %}
<div style="display: flex; flex-wrap: wrap; margin-right: -15px; margin-left: -15px;">
    <div style="position: relative; width: 100%; padding-right: 15px; padding-left: 30px; flex: 0 0 100%; max-width: 70%; " id='total-orders'>
        <div style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); border-radius: 5px; padding: 20px; margin: 10px; background: hsl(0, 0%, 47%);">
            <div style="padding: 2px 16px; text-align: center; color: hsl(353, 100%, 78%);">
                <h4><b> <p>Please note you are being redirected to an external website to complete payment.</p>
                    <hr></b></h4>
            </div>

            <div style="padding: 2px 16px; text-align: center; color: hsl(152, 51%, 52%)">
            <p>You will be redirected to Paypal our payment client, please wait as it loads!</p>
            </div>

            <div style="padding: 2px 16px; width: 100%; max-width: 20%;">
               <p style='color: hsl(0, 100%, 70%); '>{{ paypal.render }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}